
<script>
    import Testapp from "$lib/comps/testapp.svelte";
    /** @type {import('./$types').PageData} */  export let data;
    
</script>
<Testapp/>


<h1>{data.post.title}</h1>
<div>{@html data.post.content}</div>


<!-- <a href="/">home</a> -->
<h1>about</h1>
